<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关联公司_{print webinfo('web_name')/}</title>
<link href="{path template/}/style.css" rel="stylesheet" type="text/css">
</head>
<body>

{include head/}

{print cateinfo('cate_pic')/}

<div class="Description">
  <div class="left" style="padding-bottom:200px;">
    <table style="width:470px;" border="0" align="center" cellpadding="0" cellspacing="0">
        {loop source=get_link(1)}
        <tr>
       	  	<td><a href="{print $v['link_url']/}">点此进入>> {print $v['link_name']/}</a> </td>
            <td align="center"><img src="{print $v['link_logo']/}" width="130" height="184" alt="{print $v['link_name']/}" title="" /><br /><br />
            {print $v['link_name']/}</td>
        </tr>
        {/loop}
    </table>
  </div>
    <div class="right">
    	
        {include left/}
        
    </div>
</div>

{include foot/}

</body>
</html>
