<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用途-市场</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="top">
    <div class="tip">
  	<div class="logo"><a href="#"><img src="images/logo1.png" /></a></div>
    <div class="lauage">
    	<a href="#"><img src="images/logo2.jpg" /></a><br />
        <a href="#">中文版</a>
        <a style="margin-left:10px;" href="#"><img src="images/btn_eng.png" /></a>
        <a href="#"><img src="images/btn_jp.png" /></a>
    </div>
  </div>
  <div class="dh">
     <ul>
       <a href="#"><li style="background:none">首页</li></a>
       <a href="#"><li>公司新闻</li></a>
       <a href="#"><li>公司介绍</li></a>
       <a href="#"><li>产品介绍</li></a>
       <a href="#"><li>用途 · 市场</li></a>
       <a href="#"><li>材料 · 原材料</li></a>
       <a href="#"><li>关联公司</li></a>
     </ul>
  </div>
</div>
<div class="banner" style="background-image:url(images/market.jpg)"></div>
<div class="materials">
	<div class="left">
   	  <hr class="line"/>
   	  <div class="subclass">
            <div class="title">
                    <span class="chinesetitle">用途·市场</span>
                    <span class="englishtitle">Use market</span>
            </div>
            <div class="line2"></div>
            <ul class="classlist">
            	<li class="selected">汽车领域</li>
                <li>工业用品</li>
                <li>卫厨用品</li>
            </ul>
         </div>
  	  <div class="xinrenpinzhi">
         	<div class="title">
           	  <span class="img"><img src="images/point.jpg" width="5" height="5" alt="" title="" /></span>
            	<span class="chinesetitle">信任和品质</span>
                <span class="englishtitle">XINRENHEPINZHI</span>
   	  	  </div>
		  <img src="images/casc.png" width="250" height="70" alt="" title="" />
          <img src="images/iso14001.png" width="250" height="70" alt="" title="" />
       </div>
       <div class="contactus">
       	   	<div><img src="images/contacttop.png" width="250" height="17" border="0" alt="联系我们" title="" /></div>
         	<div class="body">
            	<table border="0" cellpadding="0" cellspacing="0">
                	<tr>
                    	<td rowspan="2" style="border-bottom:solid 1px #D3E6D6;"><img src="images/email.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">客服邮件</td>
                    </tr>
                    <tr>
                    	<td class="bottom" style="border-bottom:solid 1px #D3E6D6;">E-MAIL：123467@123.com</td>
                    </tr>
                    <tr>
                    	<td rowspan="2" style="border-bottom:solid 1px #D3E6D6;"><img src="images/serverphone.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">客服电话</td>
                    </tr>
                    <tr>
                    	<td class="bottom" style="border-bottom:solid 1px #D3E6D6;">TEL：0571-82365378</td>
                    </tr>
                    <tr>
                    	<td rowspan="2"><img src="images/address.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">公司地址</td>
                    </tr>
                    <tr>
                    	<td class="bottom">ADD：中国浙江省上虞市上浦工业园区</td>
                    </tr>
                </table>
            </div>
       		<div><img src="images/contactbottom.png" width="250" height="7" border="0" alt="" title="" /></div>
        </div>
    </div>
    <div class="right">
    	<div class="BreadCrumbs">首页 > 用途 市场 > 汽车领域</div>
        <div class="rightcontent">
        	<ul class="piclist">
                <li><img src="upfile/car.jpg" width="182" height="169" alt="" title="" /></li>
			</ul>
            <div class="title" style="clear:both;">汽车领域</div>
            <table align="left" border="0" cellpadding="0" cellspacing="0" class="parts">
                <tr>
                	<td>
                    	燃料类零部件
                        <ul class="uselist">
                        	<li>燃料泵用膜片</li>
                            <li>压力调节器用膜片</li>
                            <li>震动缓冲器用膜片</li>
                            <li>ＯＲＶＲ用膜片</li>
                            <li>燃料罐用膜片</li>
                            <li>自助厨房用膜片</li>
                            <li>喷雾器用0型圈</li>
                        </ul>
                        <br />
                        排气管类零部件
                        <ul class="uselist">
                        	<li> 涡轮中部浇口用膜片</li>
                            <li>VTG 涡轮转动器用膜片</li>
                            <li>EGR 阀用膜片</li>
                            <li>排气净化阀用DF</li>
                        </ul>
                    </td>
                    <td>
                    电子控制类零部件
                        <ul class="uselist">
                        	<li>电子节流单元用垫圈</li>
                            <li>连接器用接继器</li>
                        </ul>
                        <br />
                        点火器相关零部件
                        <ul class="uselist">
                        	<li>直接点火装置用的插头套</li>
                            <li>分锁部用膜片</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="foot">
	绍兴十川橡胶有限公司　　　　浙ICP备案0555555号<br /><br />
    Desgin by beecl 奥格威品牌策划有限公司 蜂客科技有限公司提供技术支持
    </div>
</body>
</html>
