<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>材料-原材料</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="top">
    <div class="tip">
  	<div class="logo"><a href="#"><img src="images/logo1.png" /></a></div>
    <div class="lauage">
    	<a href="#"><img src="images/logo2.jpg" /></a><br />
        <a href="#">中文版</a>
        <a style="margin-left:10px;" href="#"><img src="images/btn_eng.png" /></a>
        <a href="#"><img src="images/btn_jp.png" /></a>
    </div>
  </div>
  <div class="dh">
     <ul>
       <a href="#"><li style="background:none">首页</li></a>
       <a href="#"><li>公司新闻</li></a>
       <a href="#"><li>公司介绍</li></a>
       <a href="#"><li>产品介绍</li></a>
       <a href="#"><li>用途 · 市场</li></a>
       <a href="#"><li>材料 · 原材料</li></a>
       <a href="#"><li>关联公司</li></a>
     </ul>
  </div>
</div>
<div class="banner" style="background-image:url(images/materials.jpg)"></div>
<div class="materials">
	<div class="left">
   	  <hr class="line"/>
   	  <div class="subclass">
            <div class="title">
                    <span class="chinesetitle">材料·原材料</span>
                    <span class="englishtitle">MATERIAL</span>
            </div>
            <div class="line2"></div>
            <ul class="classlist">
            	<li class="selected">十川橡胶的配合技术</li>
                <li>三元乙丙橡胶（EPDM）</li>
                <li>硅橡胶（Q）</li>
                <li>全氟聚醚橡胶</li>
                <li>丁腈橡胶（NBR） </li>
                <li>氢化丁腈橡胶（HNBR）</li>
            </ul>
         </div>
  	  <div class="xinrenpinzhi">
         	<div class="title">
           	  <span class="img"><img src="images/point.jpg" width="5" height="5" alt="" title="" /></span>
            	<span class="chinesetitle">信任和品质</span>
                <span class="englishtitle">XINRENHEPINZHI</span>
   	  	  </div>
		  <img src="images/casc.png" width="250" height="70" alt="" title="" />
          <img src="images/iso14001.png" width="250" height="70" alt="" title="" />
       </div>
       <div class="contactus">
       	   	<div><img src="images/contacttop.png" width="250" height="17" border="0" alt="联系我们" title="" /></div>
         	<div class="body">
            	<table border="0" cellpadding="0" cellspacing="0">
                	<tr>
                    	<td rowspan="2" style="border-bottom:solid 1px #D3E6D6;"><img src="images/email.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">客服邮件</td>
                    </tr>
                    <tr>
                    	<td class="bottom" style="border-bottom:solid 1px #D3E6D6;">E-MAIL：123467@123.com</td>
                    </tr>
                    <tr>
                    	<td rowspan="2" style="border-bottom:solid 1px #D3E6D6;"><img src="images/serverphone.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">客服电话</td>
                    </tr>
                    <tr>
                    	<td class="bottom" style="border-bottom:solid 1px #D3E6D6;">TEL：0571-82365378</td>
                    </tr>
                    <tr>
                    	<td rowspan="2"><img src="images/address.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">公司地址</td>
                    </tr>
                    <tr>
                    	<td class="bottom">ADD：中国浙江省上虞市上浦工业园区</td>
                    </tr>
                </table>
            </div>
       		<div><img src="images/contactbottom.png" width="250" height="7" border="0" alt="" title="" /></div>
        </div>
    </div>
    <div class="right">
    	<div class="BreadCrumbs">首页 > 材料 原材料 > 十川橡胶的配合技术</div>
        <div class="rightcontent"><b>十川橡胶的配合技术</b><br />
<br />
橡胶活跃在橡皮筋和弹力球的汽车，火车，电梯等领域。<br />
各个橡胶产品的材质都是一样的？事实不是这样的。<br />
根据其大小，用途，使用环境材质（配合）都有很大区别的。<br />
讲的再通俗点，就如同拉面一样。<br />
例如说起酱油味的拉面，每个店的味道也是不一样的。<br />
这是因为每个店的配方和做法都是不一样的（比如是否有慢慢的煮出汤汁）。<br />
故，比如说橡胶产品的材质EPDM，其他的厂家制作的产品打着配方也是EPDM的名号，难道他们的配方就是一样的吗？<br />
其实是不一样的，（从某种意义上来说是烦恼呢还是深奥呢？）<br />
十川橡胶主要致力于探求和开发大家生活中不可或缺的所谓高性能橡胶的核心产品，为大家生产出有用的橡胶产品。<br />
<br />
<br />
链接左边的材料清单，便可得知各种材料的详细信息。</div>
    </div>
</div>
<div class="foot">
	绍兴十川橡胶有限公司　　　　浙ICP备案0555555号<br /><br />
    Desgin by beecl 奥格威品牌策划有限公司 蜂客科技有限公司提供技术支持
    </div>
</body>
</html>
