<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Products</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="top">
    <div class="tip">
  	<div class="logo"><a href="#"><img src="images/logo1.png" /></a></div>
    <div class="lauage">
    	<a href="#"><img src="images/logo2.jpg" /></a><br />
        <a href="#">中文版</a>
        <a style="margin-left:10px;" href="#"><img src="images/btn_eng.png" /></a>
        <a href="#"><img src="images/btn_jp.png" /></a>
    </div>
  </div>
  <div class="dh">
     <ul>       <a href="#"><li style="background:none">Home</li></a>
       <a href="#"><li>News</li></a>
       <a href="#"><li>About us</li></a>
       <a href="#"><li>Products</li></a>
       <a href="#"><li>Market</li></a>
       <a href="#"><li>Materials</li></a>
       <a href="#"><li>Reation</li></a>
     </ul>
  </div>
</div>
<div class="banner" style="background-image:url(images/products.jpg)"></div>
<div class="materials">
	<div class="left">
   	  <hr class="line"/>
   	  <div class="subclass">
            <div class="title">
                    <span class="chinesetitle">产品介绍</span>
                    <span class="englishtitle">Product introduction</span>
            </div>
            <div class="line2"></div>
            <ul class="classlist">
            	<li class="selected">产品介绍</li>
                <li>BF膜片</li>
                <li>膜片</li>
                <li>精密部分</li>
                <li>L I M</li>
                <li>水调速器</li>
                <li>防振橡胶</li>
                <li>伞形阀.鸭嘴阀 </li>
                <li>FTR(防粘表面处理)</li>
            </ul>
         </div>
               <br />
      <hr class="line"/>
      <div class="subclass">
            <div class="title">
                    <span class="chinesetitle">代售</span>
                    <span class="englishtitle">MATERIAL</span>
            </div>
            <div class="line2"></div>
            <ul class="classlist">
            	<li>十川橡胶的配合技术</li>
                <li>三元乙丙橡胶（EPDM）</li>
                <li>硅橡胶（Q）</li>
                <li>全氟聚醚橡胶</li>
            </ul>
         </div>
  	  <div class="xinrenpinzhi">
         	<div class="title">
           	  <span class="img"><img src="images/point.jpg" width="5" height="5" alt="" title="" /></span>
            	<span class="chinesetitle">Trust and quality</span>
                <span class="englishtitle"></span>
   	  	  </div>
		  <img src="images/casc.png" width="250" height="70" alt="" title="" />
          <img src="images/iso14001.png" width="250" height="70" alt="" title="" />
       </div>
       <div class="contactus">
   	  <div><img src="images/contacttop.png" width="250" height="17" border="0" alt="联系我们" title="" /></div>
         	<div class="body">
            	<table border="0" cellpadding="0" cellspacing="0">
                	<tr>
                    	<td rowspan="2" style="border-bottom:solid 1px #D3E6D6;"><img src="images/email.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">E-mail</td>
                    </tr>
                    <tr>
                    	<td class="bottom" style="border-bottom:solid 1px #D3E6D6;">123467@123.com</td>
                    </tr>
                    <tr>
                    	<td rowspan="2" style="border-bottom:solid 1px #D3E6D6;"><img src="images/serverphone.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">Customer phone</td>
                    </tr>
                    <tr>
                    	<td class="bottom" style="border-bottom:solid 1px #D3E6D6;">0571-82365378</td>
                    </tr>
                    <tr>
                    	<td rowspan="2"><img src="images/address.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">Adress</td>
                    </tr>
                    <tr>
                    	<td class="bottom">Pu Industrial Park in Zhejiang province Shangyu city Chinese</td>
                    </tr>
                </table>
            </div>
       		<div><img src="images/contactbottom.png" width="250" height="7" border="0" alt="" title="" /></div>
        </div>
    </div>
    <div class="right">
    	<div class="BreadCrumbs">首页 > 产品介绍 > 产品介绍</div>
      <div class="rightcontent"><b>产品介绍</b><br />
<br />
弊公司开发并生产高品质橡胶部品及合成部品，销售至多个领域（市场）。<br />
我们的产品中汇聚了膜片、密封垫、密封材、O型圈、防振橡胶LIM产品等各种各样的产品群。<br /> 
<br />
点击左侧的产品清单即可查看各种产品的详细信息。 <br />
我们致力于根据不同的客户应对各种问题与客户一起制造更好的产品。<br />
假如您对橡胶产品有疑问或者有想要咨询请随时与我们联系。 <br />
弊公司、营业及技术人员会随时回复你的咨询。

<ul class="piclist">
	<li><img src="upfile/pic1.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic2.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic3.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic4.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic5.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic6.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic7.jpg" width="182" height="169" alt="" title="" /></li>
</ul>
</div>
    </div>
</div>
<div class="foot">
	Shaoxing Togawa Rubber Co. Ltd.　　　　Zhejiang ICP record No. 0555555555<br /><br />
    Desgin by beecl Ogilvy Brand planning Co., Ltd. Beecl Technology Co., Ltd. provide technical support
    </div>
</body>
</html>
