<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品介绍</title>
<link href="{path template/}/style.css" rel="stylesheet" type="text/css">
</head>
<body>

{include head/}

{print cateinfo('cate_pic')/}

<div class="materials">
	<div class="left">
    
   	  {include left_product_nav/}
      
  	  {include left/}
       
    </div>
    <div class="right">
    	<div class="BreadCrumbs">{position source=position/}</div>
      <div class="rightcontent">
      
      {print cateinfo('cate_content')/}

<ul class="piclist">
	<li><img src="upfile/pic1.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic2.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic3.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic4.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic5.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic6.jpg" width="182" height="169" alt="" title="" /></li>
    <li><img src="upfile/pic7.jpg" width="182" height="169" alt="" title="" /></li>
</ul>
</div>
    </div>
</div>

{include foot/}

</body>
</html>
