<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="{print cateinfo('cate_info_seo')/}">
<meta name="keywords" content="{print cateinfo('cate_key_seo')/}">
<title>{print cateinfo('cate_title_seo')/}_{print webinfo('web_name')/}</title>
<link href="{path template/}/style.css" rel="stylesheet" type="text/css">
</head>
<body>

{include head/}

{print cateinfo('cate_pic')/}

<div class="Description">
  <div class="left" style="padding-bottom:200px;">
    <table style="width:470px;" border="0" align="center" cellpadding="0" cellspacing="0">
        {loop  source=list_article()}
        <tr>
       	  	<td>{print date('Y-m',$v['updatetime'])/} <a href="{print $v['url']/}" {print $v['target']/} style="{print $v['style']/}">{print $v['title']/}</a> </td>
            <td align="center"><img src="upfile/ISO140012004.jpg" width="130" height="184" alt="ISO14001:2004" title="" /><br /><br />
            {print $v['title']/}</td>
        </tr>

        {/loop}
    </table>
  </div>
    <div class="right">
    	{include left/}
        
    </div>
</div>

{include foot/}

</body>
</html>
