<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公司新闻</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="top">
    <div class="tip">
  	<div class="logo"><a href="#"><img src="images/logo1.png" /></a></div>
    <div class="lauage">
    	<a href="#"><img src="images/logo2.jpg" /></a><br />
        <a href="#">中文版</a>
        <a style="margin-left:10px;" href="#"><img src="images/btn_eng.png" /></a>
        <a href="#"><img src="images/btn_jp.png" /></a>
    </div>
  </div>
  <div class="dh">
     <ul>
       <a href="#"><li style="background:none">首页</li></a>
       <a href="#"><li>公司新闻</li></a>
       <a href="#"><li>公司介绍</li></a>
       <a href="#"><li>产品介绍</li></a>
       <a href="#"><li>用途 · 市场</li></a>
       <a href="#"><li>材料 · 原材料</li></a>
       <a href="#"><li>关联公司</li></a>
     </ul>
  </div>
</div>
<div class="banner" style="background-image:url(images/news.jpg); margin-bottom:0px;"></div>
<div class="Description">
  <div class="left" style="padding-bottom:200px;">
    <table style="width:470px;" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
       	  	<td>2005-04 株式会社十川橡胶100%出资 </td>
            <td align="center"><img src="upfile/ISO140012004.jpg" width="130" height="184" alt="ISO14001:2004" title="" /><br /><br />
            株式会社十川橡胶</td>
        </tr>
        <tr>
       	  	<td>2006-10 取得ISO9001认证。 </td>
            <td align="center"><img src="upfile/ISOTS169492009.jpg" width="130" height="184" alt="ISO/TS16949:2009" title="" /><br /><br />ISO/TS16949:2009</td>
        </tr>
        <tr>
       	  	<td>2007-03 取得中国国内生产许可证 </td>
            <td align="center"><img src="upfile/scxk.jpg" width="130" height="184" alt="ISO/TS16949:2009" title="" /><br /><br />ISO/TS16949:2009</td>
        </tr>
        <tr>
       	  	<td>2010-02 工厂扩大，从日本移管新产品过来。 </td>
            <td align="center"><img src="upfile/gc.jpg" width="130" height="184" alt="ISO/TS16949:2009" title="" /><br /><br />ISO/TS16949:2009</td>
        </tr>
        <tr>
       	  	<td>2011-06 设备增加。 </td>
            <td align="center"><img src="upfile/gcq.jpg" width="130" height="184" alt="ISO/TS16949:2009" title="" /><br /><br />ISO/TS16949:2009</td>
        </tr>
        <tr>
       	  	<td>2013-07 引进胶管总成设备。 </td>
            <td align="center"><img src="upfile/jgzc.jpg" width="130" height="184" alt="ISO/TS16949:2009" title="" /><br /><br />ISO/TS16949:2009</td>
        </tr>
    </table>
  </div>
    <div class="right">
    	<div class="xinrenpinzhi">
        	<div class="title">
           	  	<span class="img"><img src="images/point.jpg" width="5" height="5" alt="" title="" /></span>
            	<span class="chinesetitle">信任和品质</span>
                <span class="englishtitle">XINRENHEPINZHI</span>
   	  	  	</div>
		  	<img src="images/casc.png" width="250" height="70" alt="" title="" />
          	<img src="images/iso14001.png" width="250" height="70" alt="" title="" />
       	</div>
        <div class="contactus">
       	   	<div><img src="images/contacttop.png" width="250" height="17" border="0" alt="联系我们" title="" /></div>
         	<div class="body">
            	<table border="0" cellpadding="0" cellspacing="0">
                	<tr>
                    	<td rowspan="2" style="border-bottom:solid 1px #D3E6D6;"><img src="images/email.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">客服邮件</td>
                    </tr>
                    <tr>
                    	<td class="bottom" style="border-bottom:solid 1px #D3E6D6;">E-MAIL：123467@123.com</td>
                    </tr>
                    <tr>
                    	<td rowspan="2" style="border-bottom:solid 1px #D3E6D6;"><img src="images/serverphone.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">客服电话</td>
                    </tr>
                    <tr>
                    	<td class="bottom" style="border-bottom:solid 1px #D3E6D6;">TEL：0571-82365378</td>
                    </tr>
                    <tr>
                    	<td rowspan="2"><img src="images/address.png" width="52" height="50" alt="" title="" /></td>
                        <td class="ttop">公司地址</td>
                    </tr>
                    <tr>
                    	<td class="bottom">ADD：中国浙江省上虞市上浦工业园区</td>
                    </tr>
                </table>
            </div>
       		<div><img src="images/contactbottom.png" width="250" height="7" border="0" alt="" title="" /></div>
        </div>
    </div>
</div>
<div class="foot">
	绍兴十川橡胶有限公司　　　　浙ICP备案0555555号<br /><br />
    Desgin by beecl 奥格威品牌策划有限公司 蜂客科技有限公司提供技术支持
    </div>
</body>
</html>
